swiggy_n8n_workflow.json
{
  "name": "swiggy_n8n_workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c2292610-466f-4066-a19c-fcb728a1a934",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1_HrehLLXG58uueKWQt1hOhh4PkQHgWcL",
          "mode": "list",
          "cachedResultName": "swiggy_clean.csv",
          "cachedResultUrl": "https://drive.google.com/file/d/1_HrehLLXG58uueKWQt1hOhh4PkQHgWcL/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "f1910050-f135-4204-8cef-140010b6bec0",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mvX03zyByzPWPymC",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const newItems = [];\n\nfor (const item of items) {\n  const data = item.json;\n\n  const avg = Number(data.avg_order_value);\n  const days = Number(data.days_since_last_order);\n  const segment = data.customer_segment;\n\n  // Unique rule: VIP_Dormant\n  if (segment === \"Inactive (Churned)\" && avg > 1000 && days > 60) {\n    data.special_segment = \"VIP_Dormant\";\n    data.special_action = \"Send 30% coupon + personal apology mail\";\n  } else if (segment === \"Inactive (Churned)\") {\n    data.special_segment = \"Normal_Inactive\";\n    data.special_action = \"Send 10% coupon\";\n  } else {\n    data.special_segment = \"Regular\";\n    data.special_action = \"Send thank-you + loyalty points\";\n  }\n\n  newItems.push({ json: data });\n}\n\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "2abf10a7-a532-44ac-807d-caebce3dd123",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67131dec-138e-44f7-9d8a-c4ac64f65f52",
              "name": "=final_message",
              "value": "={{\"Hi customer \" + $json[\"customer_id\"] + \", segment: \" + $json[\"special_segment\"] + \", action: \" + $json[\"special_action\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "20df1575-1c00-4d2f-a685-1af8c463c65c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fromEmail": "patatiyasaswi316@gmail.com",
        "toEmail": "237y1a67c6@mlritm.ac.in",
        "subject": "=Customer Offer",
        "emailFormat": "text",
        "text": "={{$json[\"final_message\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        800,
        0
      ],
      "id": "65ab9308-f469-462b-b98e-fcff4966c50c",
      "name": "Send an Email",
      "webhookId": "a1dd40ef-a873-4166-9faf-42896a704492",
      "credentials": {
        "smtp": {
          "id": "M1B2AQPWIfOO5nCh",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6af22b41-992f-4d74-97dd-b3aac062ea5e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9108bf4360d0ea4ac9446973cc96f92a39ddd69b5a5ce5e000ca0e4713a82a58"
  },
  "nodeGroups": [],
  "id": "WVOQZBZSg8v2u97E",
  "tags": []
}